@font-face {
    font-family: "valorant";
    src: url(../fonts/Valorant\ Font.ttf);
}

*{
    font-family: "valorant";
    margin: 0;
    padding: 0;
}

/*Header*/
#header{
    background-color:  #070707;
    display: flex;
    justify-content: space-between;

    width: 100%;
    position: fixed;
    z-index: 1;
}

#kiri-header{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding-left: 24px;
}

#kiri-header p{
    text-decoration: none;
    color: white;
    padding-left: 20px;
    font-size: 28px;
    font-family: valorant;
}

#nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding-right: 40px;
}


#logo{
    width: 30px;
    padding: 10px;
}

.dropdown a{
    text-decoration: none;
    color: white;
    padding: 20px 20px;
    font-size: 17px;
}

.dropdown{
    position: relative;
    display: flex;
}

.dropdown:hover{
    cursor: pointer;
    background-color: rgb(250, 52, 52);
}

.content{
    position: absolute;
    display: none;
    background-color: #070707;
    margin-top: 60px;
    padding-bottom: 8px;
}

.dropdown-content {
    display: flex;
    align-items: center;
}

.dropdown-content a{
    /* padding: 10px; */
    width: 90px;
    height: 20px;
}

.dropdown:hover .content{
    display: block;
    /* padding: 50px */
}

.dropdown .dropdown-content:hover {
    /* padding: 50px; */
    background-color: rgb(250, 52, 52);
}



/*Preview of Laforant*/
#prev{
    background-color: #ece8e1;
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    padding-bottom: 33px;
}

#prev-logo{
    display: flex;
    size: 50px;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

#prev-title{
    padding-top: 27px;
    padding-bottom: 50px;
}

#prev-title p{
    color: black;
    font-size: 50px;
    text-align: center;
}

#prev-con{
    padding-bottom: 50px;
}

#prev-con p{
    color: black;
    font-size: 20px;
    text-align: center;
}

#prev-button{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #d40000;
    text-align: center;
    padding: 10px;
    margin-left: 94vh;
    margin-right: 96vh;
}

/*Preview of Agents*/
#agents{
    background-image: url(../assets/preview-agents.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
    justify-content: center;
    position: relative;
}

#agents-title p{
    color: white;
    font-size: 60px;
    padding-top: 40px;
    padding-left: 30px;
}

#agents-content{
    padding-top: 25px;
}

#agents-content p{
    color: white;
    padding-left: 30px;
    font-size: 20px;
}
#agents-button{
    display: inline-block;
    text-decoration: none;
    color: #d40000;
    background-color: white;
    text-align: center;
    padding: 10px;
    margin-left: 4vh;
    margin-right: 96vh;
    margin-top: 20px;
}

/*Preview Maps*/
#map{
    background-image: url(../assets/map.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
    justify-content: center;
    position: relative;
}

#map-title{
    display: flex;
    justify-content: flex-end;
    color: white;
    font-size: 60px;
    padding-right: 30px;
    padding-top: 40px;
}

#map-content{
    padding-top: 25px;
}

#map-content p{
    display: flex;
    justify-content: flex-end;
    color: white;
    font-size: 20px;
    padding-right: 30px;
}

#map-button{
    display: inline-block;
    text-decoration: none;
    color: #d40000;
    background-color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    margin-left: 188vh;
}

/*Footer*/
#footer{
    padding: 10px 0px;
    height: 50px;
    background-color: #070707;
    display: flex;
    justify-content: space-between;
}

#footer p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#kiri-footer{
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-left: 30px;
}

#kanan{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
}

#fb{
    width: 30px;
    padding-right: 20px;
}

#ig{
    width: 30px;
}

#yt{
    padding-left: 20px;
    width: 47px;
}
